server:
  port: 7000

spring:
  application:
    name: book-service
  datasource:
      url: jdbc:mysql://localhost:3306/bookdb
      username: root
      password: Admin123
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}
