
server:
  port: 8000

spring:
  application:
    name: library-service
  datasource:
    url: jdbc:mysql://localhost:3306/librarydb
    username: root
    password: Admin123
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
  flyway:
    enabled: true
    baseline-on-migrate: true
    clean-disabled: false
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}

resilience4j:
  circuitbreaker:
    instances:
      bookService:
        registerHealthIndicator: true
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
  retry:
    instances:
      bookService:
        maxAttempts: 3
        waitDuration: 1s